STACK_API_KEY = "YOUR_API_KEY"
STACK_POINT_SYSTEM_ID = "YOUR_POINT_SYSTEM_ID"
RESERVOIR_API_KEY = "demo-api-key"
BASECHAIN_API_KEY = "demo"
BASE_URL_NEYNAR = "https://api.neynar.com/v2/farcaster"
BASE_URL_RESEVOIR = "https://api-base.reservoir.tools"
BASE_URL_ZORA = "https://api.zora.co/discover/tokens/BASE-MAINNET"
BASE_URL_CHAINBASE = "https://api.chainbase.online/v1"
FIRST_QUEST_SMART_CONTRACT_ADDRESS = "0x67cF783eD0925F2C8d56cAf906f3daa1172D7dAB"
SECOND_QUEST_COLLECTION_ADDRESS = "0xa0487df3ab7a9e7ba2fd6bb9acda217d0930217b"
FOURTH_QUEST_TOKEN_ADDRESS = "0xa0487df3ab7a9e7ba2fd6bb9acda217d0930217b:53"
SIXTH_QUEST_TOKEN_ADDRESS = "0xcd6a95bf6c52a76f75049024b3660307b0078fef:2"
SEVENTH_QUEST_SMART_CONTRACT_ADDRESS = "0x38e540ca0315bd0de92ed7c4429418bf51826549"